/* colors */
/* fonts */
/* font-sizes */
/* font weight */
* { box-sizing: border-box; }

body { margin: 0; }

.body-padding { padding: 30px; }

.container { width: 100%; padding: 0; margin: 0; }

.row { margin: 0; padding: 0; vertical-align: text-top; }

.row::before, .row::after { content: ""; display: table; }

.row::after { clear: both; }

.flex-container, .flex-container-space { margin: 0; padding: 0; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.flex-container-space { -ms-flex-pack: justify; justify-content: space-between; }

.flex-hr-stretch { -ms-flex: 0 1 50%; flex: 0 1 50%; }

.left-align { text-align: left; }

@media (max-width: 450px) { .col-xs-1 { width: 8.33333%; max-width: 8.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xs-2 { width: 16.66667%; max-width: 16.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xs-3 { width: 25%; max-width: 25%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xs-4 { width: 33.33333%; max-width: 33.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xs-5 { width: 41.66667%; max-width: 41.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xs-6 { width: 50%; max-width: 50%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xs-7 { width: 58.33333%; max-width: 58.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xs-8 { width: 66.66667%; max-width: 66.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xs-9 { width: 75%; max-width: 75%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xs-10 { width: 83.33333%; max-width: 83.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xs-11 { width: 91.66667%; max-width: 91.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xs-12 { width: 100%; max-width: 100%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .offset-xs-1 { margin-left: 8.33333%; }
  .offset-xs-2 { margin-left: 16.66667%; }
  .offset-xs-3 { margin-left: 25%; }
  .offset-xs-4 { margin-left: 33.33333%; }
  .offset-xs-5 { margin-left: 41.66667%; }
  .offset-xs-6 { margin-left: 50%; }
  .offset-xs-7 { margin-left: 58.33333%; }
  .offset-xs-8 { margin-left: 66.66667%; }
  .offset-xs-9 { margin-left: 75%; }
  .offset-xs-10 { margin-left: 83.33333%; }
  .offset-xs-11 { margin-left: 91.66667%; }
  .offset-xs-12 { margin-left: 100%; } }

@media (min-width: 450.1px) and (max-width: 767px) { .col-sm-1 { width: 8.33333%; max-width: 8.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-sm-2 { width: 16.66667%; max-width: 16.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-sm-3 { width: 25%; max-width: 25%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-sm-4 { width: 33.33333%; max-width: 33.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-sm-5 { width: 41.66667%; max-width: 41.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-sm-6 { width: 50%; max-width: 50%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-sm-7 { width: 58.33333%; max-width: 58.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-sm-8 { width: 66.66667%; max-width: 66.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-sm-9 { width: 75%; max-width: 75%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-sm-10 { width: 83.33333%; max-width: 83.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-sm-11 { width: 91.66667%; max-width: 91.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-sm-12 { width: 100%; max-width: 100%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .offset-sm-1 { margin-left: 8.33333%; }
  .offset-sm-2 { margin-left: 16.66667%; }
  .offset-sm-3 { margin-left: 25%; }
  .offset-sm-4 { margin-left: 33.33333%; }
  .offset-sm-5 { margin-left: 41.66667%; }
  .offset-sm-6 { margin-left: 50%; }
  .offset-sm-7 { margin-left: 58.33333%; }
  .offset-sm-8 { margin-left: 66.66667%; }
  .offset-sm-9 { margin-left: 75%; }
  .offset-sm-10 { margin-left: 83.33333%; }
  .offset-sm-11 { margin-left: 91.66667%; }
  .offset-sm-12 { margin-left: 100%; } }

@media (min-width: 768px) { .col-md-1 { width: 8.33333%; max-width: 8.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-md-2 { width: 16.66667%; max-width: 16.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-md-3 { width: 25%; max-width: 25%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-md-4 { width: 33.33333%; max-width: 33.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-md-5 { width: 41.66667%; max-width: 41.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-md-6 { width: 50%; max-width: 50%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-md-7 { width: 58.33333%; max-width: 58.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-md-8 { width: 66.66667%; max-width: 66.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-md-9 { width: 75%; max-width: 75%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-md-10 { width: 83.33333%; max-width: 83.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-md-11 { width: 91.66667%; max-width: 91.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-md-12 { width: 100%; max-width: 100%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .offset-md-1 { margin-left: 8.33333%; }
  .offset-md-2 { margin-left: 16.66667%; }
  .offset-md-3 { margin-left: 25%; }
  .offset-md-4 { margin-left: 33.33333%; }
  .offset-md-5 { margin-left: 41.66667%; }
  .offset-md-6 { margin-left: 50%; }
  .offset-md-7 { margin-left: 58.33333%; }
  .offset-md-8 { margin-left: 66.66667%; }
  .offset-md-9 { margin-left: 75%; }
  .offset-md-10 { margin-left: 83.33333%; }
  .offset-md-11 { margin-left: 91.66667%; }
  .offset-md-12 { margin-left: 100%; } }

@media (min-width: 992px) { .col-lg-1 { width: 8.33333%; max-width: 8.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-lg-2 { width: 16.66667%; max-width: 16.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-lg-3 { width: 25%; max-width: 25%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-lg-4 { width: 33.33333%; max-width: 33.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-lg-5 { width: 41.66667%; max-width: 41.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-lg-6 { width: 50%; max-width: 50%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-lg-7 { width: 58.33333%; max-width: 58.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-lg-8 { width: 66.66667%; max-width: 66.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-lg-9 { width: 75%; max-width: 75%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-lg-10 { width: 83.33333%; max-width: 83.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-lg-11 { width: 91.66667%; max-width: 91.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-lg-12 { width: 100%; max-width: 100%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .offset-lg-1 { margin-left: 8.33333%; }
  .offset-lg-2 { margin-left: 16.66667%; }
  .offset-lg-3 { margin-left: 25%; }
  .offset-lg-4 { margin-left: 33.33333%; }
  .offset-lg-5 { margin-left: 41.66667%; }
  .offset-lg-6 { margin-left: 50%; }
  .offset-lg-7 { margin-left: 58.33333%; }
  .offset-lg-8 { margin-left: 66.66667%; }
  .offset-lg-9 { margin-left: 75%; }
  .offset-lg-10 { margin-left: 83.33333%; }
  .offset-lg-11 { margin-left: 91.66667%; }
  .offset-lg-12 { margin-left: 100%; } }

@media (min-width: 1024px) { .col-xl-1 { width: 8.33333%; max-width: 8.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xl-2 { width: 16.66667%; max-width: 16.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xl-3 { width: 25%; max-width: 25%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xl-4 { width: 33.33333%; max-width: 33.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xl-5 { width: 41.66667%; max-width: 41.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xl-6 { width: 50%; max-width: 50%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xl-7 { width: 58.33333%; max-width: 58.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xl-8 { width: 66.66667%; max-width: 66.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xl-9 { width: 75%; max-width: 75%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xl-10 { width: 83.33333%; max-width: 83.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xl-11 { width: 91.66667%; max-width: 91.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xl-12 { width: 100%; max-width: 100%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .offset-xl-1 { margin-left: 8.33333%; }
  .offset-xl-2 { margin-left: 16.66667%; }
  .offset-xl-3 { margin-left: 25%; }
  .offset-xl-4 { margin-left: 33.33333%; }
  .offset-xl-5 { margin-left: 41.66667%; }
  .offset-xl-6 { margin-left: 50%; }
  .offset-xl-7 { margin-left: 58.33333%; }
  .offset-xl-8 { margin-left: 66.66667%; }
  .offset-xl-9 { margin-left: 75%; }
  .offset-xl-10 { margin-left: 83.33333%; }
  .offset-xl-11 { margin-left: 91.66667%; }
  .offset-xl-12 { margin-left: 100%; } }

@media (min-width: 1220px) { .col-xxl-1 { width: 8.33333%; max-width: 8.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xxl-2 { width: 16.66667%; max-width: 16.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xxl-3 { width: 25%; max-width: 25%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xxl-4 { width: 33.33333%; max-width: 33.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xxl-5 { width: 41.66667%; max-width: 41.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xxl-6 { width: 50%; max-width: 50%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xxl-7 { width: 58.33333%; max-width: 58.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xxl-8 { width: 66.66667%; max-width: 66.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xxl-9 { width: 75%; max-width: 75%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xxl-10 { width: 83.33333%; max-width: 83.33333%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xxl-11 { width: 91.66667%; max-width: 91.66667%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .col-xxl-12 { width: 100%; max-width: 100%; float: left; min-height: 1px; /*text-align: center;*/ position: relative; padding-left: 17px; padding-right: 17px; }
  .offset-xxl-1 { margin-left: 8.33333%; }
  .offset-xxl-2 { margin-left: 16.66667%; }
  .offset-xxl-3 { margin-left: 25%; }
  .offset-xxl-4 { margin-left: 33.33333%; }
  .offset-xxl-5 { margin-left: 41.66667%; }
  .offset-xxl-6 { margin-left: 50%; }
  .offset-xxl-7 { margin-left: 58.33333%; }
  .offset-xxl-8 { margin-left: 66.66667%; }
  .offset-xxl-9 { margin-left: 75%; }
  .offset-xxl-10 { margin-left: 83.33333%; }
  .offset-xxl-11 { margin-left: 91.66667%; }
  .offset-xxl-12 { margin-left: 100%; } }

@font-face { font-family: 'fontello'; src: url("../fonts/fontello.eot?88619597"); src: url("../fonts/fontello.eot?88619597#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?88619597") format("woff"), url("../fonts/fontello.ttf?88619597") format("truetype"), url("../fonts/fontello.svg?88619597#fontello") format("svg"); font-weight: normal; font-style: normal; }

.my-font { font-family: "fontello"; font-style: normal; font-weight: normal; }

.icon { font-family: "fontello"; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; width: 1em; margin-right: .2em; text-align: center; /* opacity: .8; */ /* For safety - reset parent styles, that can break glyph codes*/ font-variant: normal; text-transform: none; /* fix buttons height, for twitter bootstrap */ line-height: 1em; /* Animation center compensation - margins should be symmetric */ /* remove if not needed */ margin-left: .2em; /* You can be more comfortable with increased icons size */ /* font-size: 120%; */ /* Font smoothing. That was taken from TWBS */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; /* Uncomment for 3D effect */ /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon.icon-l { font-size: 19px; }

.icon.icon-m { font-size: 18px; }

.icon.icon-s { font-size: 15px; }

.icon.icon-xs { font-size: 11px; }

.icon.icon-xxs { font-size: 8px; }

.icon-arrow-down:before { content: '\e800'; }

.icon-arrow-down-small:before { content: '\e801'; }

.icon-arrow-left:before { content: '\e802'; }

.icon-arrow-right:before { content: '\e803'; }

.icon-arrow-up:before { content: '\e804'; }

.icon-arrow-up-small:before { content: '\e805'; }

.icon-banners:before { content: '\e806'; }

.icon-calendar:before { content: '\e807'; }

.icon-close:before { content: '\e808'; }

.icon-details:before { content: '\e809'; }

.icon-general:before { content: '\e80a'; }

.icon-hamburger:before { content: '\e80b'; }

.icon-links:before { content: '\e80c'; }

.icon-login:before { content: '\e80d'; }

.icon-message:before { content: '\e80e'; }

.icon-negative:before { content: '\e80f'; }

.icon-notification:before { content: '\e810'; }

.icon-password:before { content: '\e811'; }

.icon-payout:before { content: '\e812'; }

.icon-personaldata:before { content: '\e813'; }

.icon-positive:before { content: '\e814'; }

.icon-postback:before { content: '\e815'; }

.icon-profile:before { content: '\e816'; }

.icon-quit:before { content: '\e817'; }

.icon-refresh:before { content: '\e818'; }

.icon-show:before { content: '\e819'; }

.icon-trash:before { content: '\e81a'; }

.icon-url:before { content: '\e81b'; }

.icon-wallet:before { content: '\e81c'; }

.component--sidebar { top: 0; position: fixed; z-index: 1000; float: left; margin-left: 0; opacity: 1; padding-bottom: 30px; width: 187px; height: 100vh; background-color: #191919; font-family: "Roboto", sans-serif; font-weight: 300; font-size: 11pt; color: #999999; overflow: sroll; }

.component--sidebar.sidebar-hide { transition: .5s; margin-left: -141px; }

.component--sidebar.sidebar-hide .nav, .component--sidebar.sidebar-hide .messenger, .component--sidebar.sidebar-hide .topbar-section, .component--sidebar.sidebar-hide hr { display: none; }

.component--sidebar.sidebar-show { transition: .5s; margin-left: 0px; }

.component--sidebar.sidebar-show .nav, .component--sidebar.sidebar-show .messenger, .component--sidebar.sidebar-show .topbar-section, .component--sidebar.sidebar-show hr { display: inherit; }

.component--sidebar .header { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; padding: 12px 6px 14px 18px; }

.component--sidebar .header img { display: block; }

.component--sidebar .header .icon-menu { margin: 0; font-size: 28px; color: #999999; }

.component--sidebar .header .icon-menu:hover, .component--sidebar .header .icon-menu:active { color: #ffffff; }

.component--sidebar .header button { cursor: pointer; border: 0; background-color: rgba(0, 0, 0, 0); outline: none; }

.component--sidebar .nav { margin: 0; padding: 0; list-style: none; }

.component--sidebar .nav .nav-item { display: -ms-flexbox; display: flex; margin: 0; width: 100%; display: flex; -ms-flex-align: stretch; align-items: stretch; }

.component--sidebar .nav .nav-item .icon-l { margin: 0 8px -3px 3px; }

.component--sidebar .nav .nav-item .icon-m { margin: 0 9px -3px 3px; }

.component--sidebar .nav .nav-item .icon-s { margin: 0 11px -2px 4px; }

.component--sidebar .nav .nav-item .icon-xs { margin: 5px 16px -2px 3px; }

.component--sidebar .nav .nav-item .nav-link { -ms-flex: 0 1 100%; flex: 0 1 100%; -ms-flex-item-align: stretch; -ms-grid-row-align: stretch; align-self: stretch; text-decoration: none; color: #999999; padding: 13px; }

.component--sidebar .nav .nav-item:link, .component--sidebar .nav .nav-item:visited { color: #999999; }

.component--sidebar .nav .nav-item::before { z-index: 5; width: 5px; -ms-flex-item-align: stretch; -ms-grid-row-align: stretch; align-self: stretch; content: " "; }

.component--sidebar .nav .nav-item:hover .nav-link, .component--sidebar .nav .nav-item:active .nav-link { color: #ffffff; background-color: #282828; }

.component--sidebar .nav .nav-item:hover::before, .component--sidebar .nav .nav-item:active::before { background-color: #282828; }

.component--sidebar .nav .nav-item.active .nav-link { background-color: #282828; color: #ffffff; }

.component--sidebar .nav .nav-item.active::before { background-color: #f58220; }

.component--sidebar hr { color: #333333; background-color: #333333; margin-top: 32px; margin-bottom: 27px; border: 0; height: 0; border-top: 1px solid; border-bottom: 0; }

.component--sidebar .messenger { padding: 0 18px; }

.component--sidebar .messenger .messenger-header { font-family: "Roboto", sans-serif; font-size: 93%; font-weight: 500; color: #808080; text-transform: uppercase; margin-bottom: 12px; }

.component--sidebar .messenger .messenger-item { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; /*padding: 8px 18px; &:hover { background-color: $sidebar-active-bg-color; }*/ }

.component--sidebar .messenger .messenger-item .test::before { display: inline-block; margin: 0 0 0 31px; width: 11px; height: 11px; border-radius: 50%; background-color: #04ae00; content: " "; }

.component--sidebar .messenger .messenger-item .manager-photo { margin-top: -14px; width: 43px; height: 43px; border-radius: 50%; background-size: cover; background-position: center; }

.component--sidebar .messenger .messenger-item .manager-1 { background-image: url("../images/manager-photo.jpg"); }

.component--sidebar .messenger .messenger-item a { margin-left: 11px; padding-top: 2px; }

.component--sidebar .component--select { position: relative; }

.component--sidebar .component--select .select { border: 0; font-size: inherit; height: auto; }

.component--sidebar .component--select .select .option { margin: 0; }

.component--sidebar .component--select .select .option-list .option:hover { background-color: green; }

.component--sidebar .component--select .option-list { width: calc(100% + 5px); left: -5px; top: 44px; }

.component--sidebar .component--select .option-list .option { border: 0; border-bottom: 1px solid #999999; padding: 5px 18px; background-color: #333333; color: #999999; }

@media (min-width: 560px) { .component--sidebar #sidebar-topbar-section { display: none; } }

.component--select .select { position: relative; width: 100%; padding: 0; border: 1px solid #e3e3e3; border-radius: 3px; height: 40px; outline: none; font-size: 90%; text-align: left; color: #a6a6a6; font-size: 90%; cursor: pointer; }

.component--select .select:hover { border-color: #979797; }

.component--select .select .option { margin: 0 13px; }

.component--select .select .select-icon { float: right; margin: 0 13px; }

.component--select .select .select-icon.topbar { line-height: 38px; }

.component--select .select .select-flex-container { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: justify; justify-content: space-between; height: 100%; width: 100%; border: 0; margin: 0; }

.component--select .option-list { position: absolute; width: 100%; margin: 0; margin-top: 1px; list-style: none; padding-left: 0; z-index: 1000; transform-origin: top; transform: scaleY(0); }

.component--select .option-list.transition { transition: transform .3s; }

.component--select .option-list.expand { transform: scaleY(1); }

.component--select .option-list .option { margin: 0; padding: 0 13px; border: 1px solid #e3e3e3; border-top: 0; min-height: 35px; line-height: 35px; color: #333333; background-color: #f5f5f2; cursor: pointer; }

.component--select .option-list .option:hover, .component--select .option-list .option:active { background-color: white; }

.component--topbar { position: fixed; z-index: 500; display: -ms-flexbox; display: flex; -ms-flex-pack: end; justify-content: flex-end; border-bottom: 1px solid #e3e3e3; background-color: #ffffff; height: 60px; width: 100%; color: #9c9c9c; }

.component--topbar .topbar-section { margin: 0; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; height: 100%; border-left: 1px solid #e3e3e3; }

.component--topbar .topbar-section [class*="icon-"] { color: #9c9c9c; }

.component--topbar .topbar-section .left-margin { margin-left: 10px; }

.component--topbar .topbar-section .right-margin { margin-right: 10px; }

.component--topbar .topbar-section .topbar-element { margin: 15px; }

.component--topbar .topbar-section:hover, .component--topbar .topbar-section:active { background-color: #f5f5f2; }

.component--topbar .component--select .select { border: 0; height: 60px; width: 170px; line-height: 38px; }

.component--topbar .component--select .select .option { font-size: 118%; font-weight: 500; color: #9c9c9c; }

.component--topbar .component--select .select .option-list { margin: 0; }

.component--topbar .component--select .select .option-list .option { min-height: 50px; line-height: 50px; }

@media (max-width: 559.9px) { .component--topbar { display: none; } }

.component--button button { border: 0; border-radius: 3px; cursor: pointer; height: 40px; color: #ffffff; font-size: 120%; font-weight: 300; outline: none; }

.component--button .orange-btn { background-color: #f58220; }

.component--button .orange-btn:link, .component--button .orange-btn:visited { background-color: #f58220; }

.component--button .orange-btn:hover, .component--button .orange-btn:active { background-color: #ffa200; }

.component--button .gray-btn { background-color: #979797; }

.component--button .gray-btn:link, .component--button .gray-btn:visited { background-color: #979797; }

.component--button .gray-btn:hover, .component--button .gray-btn:active { background-color: #ababab; }

.component--button .disabled-btn { background-color: #e3e3e3; cursor: default; }

.component--button .disabled-btn:link, .component--button .disabled-btn:visited { background-color: #e3e3e3; }

.component--button .disabled-btn:hover, .component--button .disabled-btn:active { background-color: #e3e3e3; }

.component--button .text-btn { padding-left: 21px; padding-right: 21px; width: 100%; }

.component--button .icon-btn { display: inline-block; width: 40px; font-size: 100%; }

@media (max-width: 768px) { .component--button button { height: 30px; }
  .component--button .text-btn { padding-left: 16px; padding-right: 16px; } }

.component--table.table-1 table tr td { padding: 13px 15px; cursor: pointer; }

.component--table.table-1 table tr td.col-first { width: 40%; }

.component--table.table-1 table tr td.col-second { width: 40%; }

.component--table.table-1 table tr td .table-icon { width: inherit; text-align: center; margin: 5px 6px; }

.component--table.table-1 table tr .auto-hiding { visibility: hidden; }

.component--table.table-1 table tr:hover, .component--table.table-1 table tr:active { background-color: #f5f5f2; }

.component--table.table-1 table tr:hover .align-right .auto-hiding, .component--table.table-1 table tr:active .align-right .auto-hiding { visibility: visible; }

@media (max-width: 768px) { .component--table.table-1 table tr .auto-hiding { visibility: visible; } }

@media (max-width: 560px) { .component--table.table-1 table tr td { display: block; padding: 2px 15px; word-break: break-all; }
  .component--table.table-1 table tr td.col-first { padding-top: 11px; width: 100%; }
  .component--table.table-1 table tr td.col-second { width: 100%; }
  .component--table.table-1 table tr td.col-third { padding-bottom: 11px; width: 100%; } }

.component--table.table-2 table tr td { padding: 20px 0 6px 0; }

.component--table table { width: 100%; border-collapse: collapse; /*.table-row:hover .links-icon { color: $link-hover-color; }*/ }

.component--table table tr td { font-size: 100%; font-weight: 700; color: #ababab; }

.component--table table tr .align-right { text-align: right; }

.component--table table tr .numbers { text-align: right; color: #333333; font-size: 90%; font-weight: 300; }

.component--table table .border-top { border-top: 1px solid #ddd; }

.component--table table .border-bottom { border-bottom: 1px solid #ddd; }

.component--table table .links-icon.hovered { color: #ffa200; }

.component--date-range-picker { -ms-flex: 0 1 100%; flex: 0 1 100%; margin-right: 15px; }

.component--date-range-picker .input { width: 100%; padding: 0 13px; margin-right: 50px; border: 1px solid #e3e3e3; border-radius: 3px; cursor: pointer; height: 40px; outline: none; font-size: 90%; text-align: left; }

.component--date-range-picker .input:hover, .component--date-range-picker .input:active, .component--date-range-picker .input.hovered { border-color: #979797; }

.component--date-range-picker .line { -ms-flex: 0 1 auto; flex: 0 1 auto; border-right: 1px solid #e3e3e3; height: 30px; margin-right: 10px; }

.component--date-range-picker #cal-icon { -ms-flex: 0 1 auto; flex: 0 1 auto; color: #9c9c9c; }

@media (max-width: 478px) { .component--date-range-picker .input { height: 80px; line-height: 40px; }
  .component--date-range-picker .line { display: none; }
  .component--date-range-picker #from-date { border-bottom: 1px solid #e3e3e3; }
  .component--date-range-picker #to-date { -ms-flex-order: 1; order: 1; }
  .component--date-range-picker .flex-container-space { -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-align: start; align-items: flex-start; }
  .component--date-range-picker .flex-hr-stretch { -ms-flex: 0 1 80%; flex: 0 1 80%; } }

.component--chart .chart-container { text-align: center; }

.component--chart .chart-container .chart { width: 100%; max-width: 700px; margin: 0 auto; }

[class*="section--"] { margin: 18px; background-color: #ffffff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

[class*="section--"] header { padding: 18px; border-bottom: 1px solid #e3e3e3; text-align: left; text-transform: uppercase; color: #ababab; font-size: 100%; font-weight: 500; }

[class*="section--"] .content { width: 100%; }

@media (min-width: 768px) { [class*="section--"] .content .left-padding { padding-left: 30px; }
  [class*="section--"] .content .right-padding { padding-right: 30px; } }

[class*="section--"] hr { border: 0; margin: 0; color: #e3e3e3; background-color: #e3e3e3; height: 1px; }

[class*="section--"].paddings { padding: 20px; }

[class*="section--"] .margin-top-l { margin-top: 45px; }

[class*="section--"] .margin-bottom-l { margin-bottom: 45px; }

[class*="section--"] .margin-top-m { margin-top: 35px; }

[class*="section--"] .margin-bottom-m { margin-bottom: 35px; }

[class*="section--"] .margin-top-s { margin-top: 25px; }

[class*="section--"] .margin-bottom-s { margin-bottom: 25px; }

ul { margin: 0; padding: 0; list-style: none; }

* { box-sizing: border-box; }

body { font-family: "Roboto", sans-serif; background-color: #f5f5f2; margin: 0; padding: 0; }

a { color: #56819f; text-decoration: none; }

a:link, a:visited { color: #56819f; fill: #56819f; }

a:hover, a:active { color: #ffa200; fill: #ffa200; }

h6 { font-size: 100%; font-weight: 700; color: #ababab; }

.large-link { font-size: 93%; font-weight: 300; }

.small-link { font-size: 80%; font-weight: 400; }

.page-container { width: 100%; }

.main-section { padding-top: 60px; padding-left: 187px; width: 100%; }

.main-section.sidebar-hid { transition: .5s; padding-left: 46px; }

.main-section.sidebar-showed { transition: .5s; padding-left: 187px; }

@media (max-width: 559.9px) { .main-section { padding-top: 0; } }

.bg { background-color: gray; }

.bg2 { background-color: orange; }

.bg-trans { background-color: rgba(25, 26, 45, 0.5); }
