@import "variables";
@import "mixins";
//@import "normalize";
@import "layout";
@import "icons";
//components
@import "components/sidebar";
@import "components/select";
@import "components/topbar";
@import "components/button";
@import "components/table";
@import "components/dateRangePicker";
@import "components/chart";

//sections
@import "sections/pattern";
@import "sections/general";

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: $body-bg-color;
}

a {
	color: $link-color;
	text-decoration: none;

	&:link, &:visited {
		color: $link-color;
		fill: $link-color;
	}
	
	&:hover, &:active {
		color: $link-hover-color;
		fill: $link-hover-color;
	}
}

h6 {
	font-size: $section-header-font-size;
	font-weight: $section-header-font-weight;
	color: $section-header-color;
}

.large-link {	
	font-size: $link-font-size;
	font-weight: $link-font-weight;
}

.small-link {
	font-size: $small-link-font-size;
	font-weight: $small-link-font-weight;
}

.page-container {
	//display: flex;
	width: 100%;
}

.main-section-container {
	//display: flex;
	//flex-direction: column;
	//align-items: stretch;
}

.main-section {
	//margin-left: 187px;
	//padding: 15px;
	padding-left: 187px; //187px + 15px = 202px
	width: 100%;

	&.sidebar-hid {
		transition: .5s;
		//margin-left: 46px;
		padding-left: 46px;
	}

	&.sidebar-showed {
		transition: .5s;
		//margin-left: 187px;
		padding-left: 187px;
	}
}

.bg {
	background-color: gray;
}

.bg2 {
	background-color: orange;
}

.bg-trans {
	background-color: rgba(25,26,45,.5);
}