.component--button {

	button {
		border: 0;
		border-radius: 3px;
		//margin: 0 10px;
		cursor: pointer;
		height: 40px;
		//width: 100%;
		color: $button-text-color;
		font-size: $button-font-size;
		font-weight: $button-font-weight;
		outline: none;
	}

	.orange-btn {
		background-color: $button-orange-color;

		&:link, &:visited {
			background-color: $button-orange-color;
		}

		&:hover, &:active {
			background-color: $button-orange-hover-color;
		}
	}

	.gray-btn {
		background-color: $button-gray-color;

		&:link, &:visited {
			background-color: $button-gray-color;
		}

		&:hover, &:active {
			background-color: $button-gray-hover-color;
		}
	}

	.disabled-btn {
		background-color: $button-disabled-color;
		cursor: default;

		&:link, &:visited {
			background-color: $button-disabled-color;
		}

		&:hover, &:active {
			background-color: $button-disabled-color;
		}
	}


	.text-btn {
		padding-left: 21px;
		padding-right: 21px;
		width: 100%;
	}	

	.icon-btn {
		display: inline-block;
		float: right;
		width: 40px;
		font-size: 100%;
	}

	@media(max-width: 768px) {
		button {
			height: 30px;
		}
		.text-btn {
			padding-left: 16px;
			padding-right: 16px;
		}
	}
}