.component--date-range-picker {

	flex: 0 1 100%;
	margin-right: 15px;

	.input {
		width: 100%;
		padding: 0 13px;
		margin-right: 50px;
		border: 1px solid $page-hr-color;
		border-radius: 3px;
		cursor: pointer;
		height: 40px;
		outline: none;
		font-size: 90%;
		text-align: left;

		&:hover, &:active, &.hovered {
			border-color: $gray-3-color;
		}
	}

	.line {
		flex: 0 1 auto;
		border-right: 1px solid $page-hr-color;
		height: 30px;
		margin-right: 10px;
	}

	#cal-icon {
		flex: 0 1 auto;
		//margin-left: 10px;
		color: $icon-gray-color;
	}

	@media(max-width: 478px) {
		.input {
			height: 80px;
			line-height: 40px;
		}

		.line {
			display: none;
		}

		#from-date {
			border-bottom: 1px solid $page-hr-color;
		}

		#to-date {
			order: 1;
		}

		.flex-container-space {
			flex-wrap: wrap;
			align-items: flex-start;
		}

		.flex-hr-stretch {
			flex: 0 1 80%;
		}
	}
}
