.component--select {

	.select {
		position: relative;
		width: 100%;
		padding: 0;
		border: 1px solid $page-hr-color;
		border-radius: 3px;
		height: 40px;
		outline: none;
		font-size: 90%;
		text-align: left;
		color: $placeholder-color;
		font-size: $simple-text-font-size;
		cursor: pointer;

		&:hover {
			border-color: #979797;
		}

		.option {
			margin: 0 13px;
		}

		.select-icon {
			float: right;
			margin: 0 13px;

			&.topbar {
				line-height: 38px;
			}
		}

		.select-flex-container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 100%;
			width: 100%;
			border: 0;
			margin: 0;
		}
	}

	.option-list {
		position: absolute;
		width: 100%;
		margin: 0;
		margin-top: 1px;
		list-style: none;
		padding-left: 0;
		z-index: 1000;
		transform-origin: top;
		transform: scaleY(0);

		&.transition {
			transition: transform .3s;
		}

		&.expand {
			transform: scaleY(1);
		}

		.option {
			margin: 0;
			padding: 0 13px;
			border: 1px solid $line-color;
			border-top: 0;
			min-height: 35px;
			line-height: 35px;
			color: $gray-5-color;
			background-color: $topbar-bg-active-color;
			cursor: pointer;

			&:hover, &:active {
				background-color: white;
			}
		}
	}
}
