.component--sidebar {
	top: 0;
	position: fixed;
	z-index: 1;
	float: left;
	margin-left: 0;
	padding-bottom: 30px;
	width: 187px;
	height: 100vh;
	background-color: $sidebar-bg-color;
	font-family: $sidebar-menu-font;
	font-weight: $sidebar-menu-font-weight;
	font-size: $sidebar-menu-font-size;
	color: $sidebar-text-color;
	overflow: auto;

	&.sidebar-hide {
		transition: .5s;
		margin-left: -141px;
	}

	&.sidebar-show {
		transition: .5s;
		margin-left: 0px;
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 12px 6px 14px 18px;

		img {
			display: block;
		}

		.icon-menu {
			margin: 0;
			font-size: 28px;
			color: $sidebar-text-color;

			&:hover, &:active {
				color: $sidebar-active-text-color;
			}
		}

		button {
			cursor: pointer;
			border: 0;
			background-color: rgba(0,0,0,0);
			outline: none;
		}
	}

	.nav {
		margin: 0;
		padding: 0;
		list-style: none;

		.nav-item {
			display: flex;
			margin: 0;
			padding: 13px;
			width: 100%;

			.icon-l {
				margin: 0 8px -3px 3px;
			}

			.icon-m {
				margin: 0 9px -3px 3px;
			}

			.icon-s {
				margin: 0 11px -2px 4px;
			}

			.icon-xs {
				margin: 0 16px -2px 3px;
			}
		}

		a {
			text-decoration: none;
			color: $sidebar-text-color;
			display: flex;
			align-items: stretch;

			&:link, &:visited {
				color: $sidebar-text-color;
			}

			&:hover > li, &:active > li {
				background-color: $sidebar-active-bg-color;
				color: $sidebar-active-text-color;
			}

			&:hover .sidebar-icon, &:active .sidebar-icon {
				fill: $sidebar-active-text-color;
			}

			&:hover, &:active {
				&::before {
					background-color: $sidebar-active-bg-color;
				}
			}

			&::before {
				width: 5px;
				content: " ";
			}

			&.active {
				li {
					background-color: $sidebar-active-bg-color;
				}

				&::before {
					background-color: $sidebar-active-edge-color;
				}
			}
		}

	}

	hr {
		color: $sidebar-hr-color;
		background-color: $sidebar-hr-color;
		margin-top: 32px;
		margin-bottom: 27px;
		border: 0;
    	height: 0;
    	border-top: 1px solid;
    	border-bottom: 0;
	}

	.messenger {
		padding: 0 18px;

		.messenger-header {
			//padding: 0 18px;
			font-family: $messanger-header-font;
			font-size: $messanger-header-font-size;
			font-weight: $messanger-header-font-weight;
			color: $messenger-header-text-color;
			text-transform: uppercase;
			//margin-bottom: 7px;
			margin-bottom: 12px;
		}

		.messenger-item {
			display: flex;
			align-items: center;
			//cursor: pointer;
			/*padding: 8px 18px;

			&:hover {
				background-color: $sidebar-active-bg-color;
			}*/

			.test {

				&::before {
					display: inline-block;
					margin:0 0 0 31px;
					width: 11px;
					height: 11px;
					border-radius: 50%;
					background-color: $messenger-avail-color;
					content: " ";
				}
			}

			.manager-photo {
				margin-top: -14px;
				width: 43px;
				height: 43px;
				border-radius: 50%;
				background-size: cover;
				background-position: center;


			}

			.manager-1 {
				background-image: url("../images/manager-photo.jpg");
			}

			a {
				margin-left: 11px;
				padding-top: 2px;
				//font-family: $messanger-font;
				//font-size: $messanger-font-size;
				//font-weight: $messanger-font-weight;
				//color: $messenger-text-color;
			}
		}
	}

	.component--select {
		position: relative;

		.select {
			border: 0;
			font-size: inherit;
			height: auto;

			.option {
				margin: 0;
			}

			.option-list .option {
				&:hover {
					background-color: green;
				}
			}
		}

		.option-list {
			width: calc(100% + 5px);
			left: -5px;
			top: 44px;

			.option {
				border: 0;
				border-bottom: 1px solid $sidebar-text-color;
				padding: 5px 18px;
				background-color: $gray-5-color;
				color: $sidebar-text-color;
			}
		}
	}

	@media(min-width: 560px) {
		#sidebar-topbar-section {
			display: none;
		}
	}
}
