.component--table {

	&.table-1 {
		table tr {
			td {
				padding: 13px 15px;
				cursor: pointer;

				&.col-left {
					width: 40%;
				}

				&.col-right {
					width: 40%;
				}

				.table-icon {
					text-align: center;
					margin: 0 12px;
				}
			}

			.auto-hiding {
				visibility: hidden;
			}

			&:hover, &:active {
				background-color: $table-hover-color;
			}

			&:hover .align-right .auto-hiding, &:active .align-right  .auto-hiding {
				visibility: visible;
			}
		}
	}

	&.table-2 {
		table tr td {
			padding: 20px 0 6px 0;
		}
	}


	table {
		width: 100%;
		border-collapse: collapse;

		tr {

			td {
				font-size: $section-header-font-size;
				font-weight: $section-header-font-weight;
				color: $section-header-color;
			}

			.align-right {
				text-align: right;
			}

			.numbers {
				text-align: right;
				color: $simple-text-color;
				font-size: $simple-text-font-size;
				font-weight: $simple-text-font-weight;
			}
		}

		.border-top {
			border-top: 1px solid #ddd;
		}

		.border-bottom {
			border-bottom: 1px solid #ddd;
		}

		/*.table-row:hover .links-icon {
			color: $link-hover-color;
		}*/

		.links-icon {
			&.hovered {
				color: $link-hover-color;
			}
		}
	}
}
