.component--table {

	&.table-1 {
		table tr {
			td {
				padding: 13px 15px;
				cursor: pointer;

				&.col-first {
					width: 40%;
				}

				&.col-second {
					width: 40%;
				}

				.table-icon {
					width: inherit;
					text-align: center;
					margin: 5px 6px;
				}
			}

			.auto-hiding {
				visibility: hidden;
			}

			&:hover, &:active {
				background-color: $table-hover-color;
			}

			&:hover .align-right .auto-hiding, &:active .align-right  .auto-hiding {
				visibility: visible;
			}
		}

		@media(max-width: 768px) {
			table tr {
				.auto-hiding {
					visibility: visible;
				}
			}
		}

		@media(max-width: 560px) {
			table tr {
				td {
					display: block;
					padding: 2px 15px;
					word-break: break-all;

					&.col-first {
						padding-top: 11px;
						width: 100%;
					}

					&.col-second {
						width: 100%;
					}

					&.col-third {
						padding-bottom: 11px;
						width: 100%;
					}
				}
			}
		}
	}

	&.table-2 {
		table tr td {
			padding: 20px 0 6px 0;
		}
	}


	table {
		width: 100%;
		border-collapse: collapse;

		tr {

			td {
				font-size: $section-header-font-size;
				font-weight: $section-header-font-weight;
				color: $section-header-color;
			}

			.align-right {
				text-align: right;
			}

			.numbers {
				text-align: right;
				color: $simple-text-color;
				font-size: $simple-text-font-size;
				font-weight: $simple-text-font-weight;
			}
		}

		.border-top {
			border-top: 1px solid #ddd;
		}

		.border-bottom {
			border-bottom: 1px solid #ddd;
		}

		/*.table-row:hover .links-icon {
			color: $link-hover-color;
		}*/

		.links-icon {
			&.hovered {
				color: $link-hover-color;
			}
		}
	}
}
