.component--topbar {
	display: flex;
	justify-content: flex-end;
	border-bottom: 1px solid $line-color;
	background-color: $topbar-bg-color;
	height: 60px;
	width: 100%;
	color: $topbar-font-color;

	.topbar-section {
		margin: 0;
		display: flex;
		align-items: center;
		height: 100%;
		border-left: 1px solid $line-color;
		//padding: 15px;

		[class*="icon-"] {
			color: $topbar-font-color;
			//font-size: 18px;
		}

		.left-margin {
			margin-left: 10px;
		}

		.right-margin {
			margin-right: 10px;
		}

		.topbar-element {
			margin: 15px;
		}

		&:hover, &:active {
			background-color: $topbar-bg-active-color;
		}
	}

	select {
		border: 0;
		padding: 0 30px 0 10px;
		color: $topbar-font-color;
		font-size: $topbar-sum-font-size;
		font-weight: $topbar-sum-font-weight;

	}
}