.component--topbar {
	position: fixed;
	z-index: 500;
	display: flex;
	justify-content: flex-end;
	border-bottom: 1px solid $line-color;
	background-color: $topbar-bg-color;
	height: 60px;
	width: 100%;
	color: $topbar-font-color;

	.topbar-section {
		margin: 0;
		display: flex;
		align-items: center;
		height: 100%;
		border-left: 1px solid $line-color;
		//padding: 15px;

		[class*="icon-"] {
			color: $topbar-font-color;
			//font-size: 18px;
		}

		.left-margin {
			margin-left: 10px;
		}

		.right-margin {
			margin-right: 10px;
		}

		.topbar-element {
			margin: 15px;
		}

		&:hover, &:active {
			background-color: $topbar-bg-active-color;
		}
	}

	.component--select {
		.select {
			border: 0;
			height: 60px;
			width: 170px;
			line-height: 38px;

			.option {
				font-size: $topbar-sum-font-size;
				font-weight: $topbar-sum-font-weight;
				color: $topbar-font-color;
			}

			.option-list {
				margin: 0;

				.option {
					min-height: 50px;
					line-height: 50px;
				}
			}
		}
	}

	@media(max-width: 559.9px) {
		display: none;
	}
}
